<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<properties resource="kr/smartReciFit/mybatis/db.properties" />

<typeAliases>
	<typeAlias type="kr.smartReciFit.model.user.User" alias="user"/>
	<typeAlias type="kr.smartReciFit.model.user.SocialDTO" alias="socialDTO"/>
	<typeAlias type="kr.smartReciFit.model.user.UserInfo" alias="userInfo"/>
	<typeAlias type="kr.smartReciFit.model.board.ReviewBoard" alias="review"/>
	<typeAlias type="kr.smartReciFit.model.board.Comment" alias="comment"/>
	<typeAlias type="kr.smartReciFit.model.recipe.ApiRecipeRawData" alias="apiRecipeRawData"/>
	<typeAlias type="kr.smartReciFit.model.recipe.Recipe" alias="recipe"/>
	<typeAlias type="kr.smartReciFit.model.recipe.ApiRecipe" alias="apiRecipe"/>
	<typeAlias type="kr.smartReciFit.model.recipe.AiRecipe" alias="aiRecipe"/>
	<typeAlias type="kr.smartReciFit.model.recipe.UserRecipe" alias="userRecipe"/>
	<typeAlias type="kr.smartReciFit.model.recipe.tags.RecipeType" alias="recipeType"/>
</typeAliases>

<typeHandlers>
    <typeHandler javaType="java.util.Set" jdbcType="VARCHAR" handler="kr.smartReciFit.mybatis.typeHandler.StringSetTypeHandler"/>
    <typeHandler javaType="java.util.Set" jdbcType="LONGVARCHAR" handler="kr.smartReciFit.mybatis.typeHandler.StringSetTypeHandler"/>
    <typeHandler javaType="kr.smartReciFit.model.recipe.tags.EatTime" handler="kr.smartReciFit.mybatis.typeHandler.KoreanEnumTypeHandler"/>
    <typeHandler javaType="kr.smartReciFit.model.recipe.tags.CookingStyle" handler="kr.smartReciFit.mybatis.typeHandler.KoreanEnumTypeHandler"/>
    <typeHandler javaType="kr.smartReciFit.model.recipe.tags.RecipeType" handler="kr.smartReciFit.mybatis.typeHandler.EnumTypeHandler"/>
</typeHandlers>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/smartReciFit/mybatis/user/UserMapper.xml"/>
    <mapper resource="kr/smartReciFit/mybatis/userInfo/UserInfoMapper.xml"/>
    <mapper resource="kr/smartReciFit/mybatis/board/BoardMapper.xml"/>
    <mapper resource="kr/smartReciFit/mybatis/recipe/ApiRecipeRawDataMapper.xml"/>
    <mapper resource="kr/smartReciFit/mybatis/recipe/RecipeMapper.xml"/>
  </mappers>
</configuration>