<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.smartReciFit.mybatis.userInfo.UserInfoMapper">
<resultMap id="userInfoResultMap" type="userInfo">
   <id property="userNum" column="user_num"/>
  <result property="userMealSize" column="user_meal_size"/>
  <result property="ingredient" column="user_ingredient"/>
  <result property="cookingStyle" column="user_cookingStyle"/>
  <result property="cookingMethod" column="user_cookingMethod"/>
  <result property="eatTime" column="user_eatTime"/>
</resultMap>
	
	<!-- 유저인포 삽입 -->
	<insert id="insertInfo" parameterType="userInfo">
	    insert into user_info(user_num, user_meal_size, user_ingredient, user_cookingStyle, user_cookingMethod, user_eatTime)
	    values (#{userNum}, #{userMealSize}, #{ingredient}, #{cookingStyle}, #{cookingMethod}, #{eatTime})
    </insert>
    
    <!-- num으로 유저인포찾기 -->
	<select id="numGetUserInfo" parameterType="Integer" resultMap="userInfoResultMap">
		select * from user_info where user_num=#{num2}
	</select>
	
	<!-- num으로 유저인포 삭제하기 -->
	<delete id="delUserInfobyUserNum" parameterType="integer">
	delete from user_info where user_num=#{userNum};
	</delete>
	
		<!-- num으로 유저인포 업데이트하기 -->
	<update id="updateInfoByNum" parameterType="Map">
		update user_info set
		user_meal_size=#{mealSizeInt},
		user_ingredient=#{ingredient},
		user_cookingStyle=#{cookingStyle},
		user_cookingMethod=#{cookingMethod},
		user_eatTime=#{eatTime}
		where user_num=#{userNum}
	</update>
    
	
</mapper>