/* 전체 스타일*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* 색상 팔레트 */
:root {
  --primary-color: #2E8B57;       /* 진한 녹색 */
  --secondary-color: #3CB371;     /* 중간 녹색 */
  --accent-color: #90EE90;        /* 밝은 녹색 */
  --text-color: #333333;          /* 어두운 회색 */
  --background-color: #f5f5f5;    /* 밝은 회색 */
  --header-footer-color: #ffffff;  /* 흰색 */
}
/*  HEADER*/
header {
  background-color: var(--header-footer-color);
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: var(--secondary-color);
}

.user-actions {
  display: flex;
  gap: 10px;
}

.user-actions button,
.user-actions a {
  background-color: var(--primary-color);
  color: var(--header-footer-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;  /* 링크 스타일 제거 */

  
}



.user-actions button:hover,
.user-actions a:hover {
  background-color: var(--secondary-color);
}
/*  로그인 모달 창*/
.modal.login-modal,
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal.login-modal {
  z-index: 1001; /* 다른 요소 위에 표시 */
}
.overlay {
  z-index: 1000;
}
.modal.login-modal.active,
.overlay.active {
  display: block;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--header-footer-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px; /* 모달 너비 조정 */
}

.modal-content button.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-content input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--header-footer-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

table, td{
	border: 1px solid black;
}

.userContentImg{
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: 10px;
}
