<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- User ResultMap -->
<mapper namespace="kr.smartReciFit.mybatis.user.UserMapper">
	<resultMap id="userResultMap" type="user">
		<id property="userNum" column="user_num" />
		<result property="userName" column="user_name" />
		<result property="userId" column="user_id" />
		<result property="userNickName" column="user_nickname" />
		<result property="userPw" column="user_pwd" />
		<result property="userEmail" column="user_email" />
		<result property="userPhone" column="user_phone" />
		<result property="userImg" column="user_img" />
	</resultMap>

	<!-- SocialDTO ResultMap -->
	<resultMap id="socialResultMap" type="socialDTO">
		<result property="userNum" column="user_num" />
		<result property="kakao" column="kakao" />
		<result property="naver" column="naver" />
		<result property="google" column="google" />
	</resultMap>

	<select id="getUserList" resultType="HashMap">
		select * from user
	</select>

	<select id="userLogin" parameterType="user" resultType="String">
		SELECT
		user_id FROM user WHERE user_id = #{userId} AND user_pwd =#{userPw}
	</select>


	<!-- 유저 삽입 -->
	<insert id="userJoin" parameterType="user">
		insert into user(user_name,
		user_id, user_nickname, user_pwd, user_email,
		user_phone, user_img)
		values (#{userName}, #{userId}, #{userNickName}, #{userPw},
		#{userEmail},
		#{userPhone}, #{userImg})
	</insert>

	<!-- 아이디로 num 찾기 -->
	<select id="IdGetUserNum" parameterType="String"
		resultType="Integer">
		select user_num from user where user_id=#{id}
	</select>

	<!-- 닉네임으로 num 찾기 -->
	<select id="nickNameGetUserNum" parameterType="String"
		resultType="Integer">
		select user_num from user where user_nickname=#{nickName}
	</select>

	<!-- num으로 유저찾기 -->
	<select id="numGetUser" parameterType="Integer"
		resultMap="userResultMap">
		select * from user where user_num=#{num2}
	</select>

	<!-- num으로 이름찾기 -->
	<select id="numGetName" parameterType="Integer"
		resultType="String">
		select user_name from user where user_num=#{num2}
	</select>

	<!-- SOCIAL에 정보 넣기 -->
	<insert id="insertSocialInfo" parameterType="socialDTO">
		INSERT INTO social
		(user_num, kakao, naver, google)
		VALUES (#{userNum}, #{kakao},
		#{naver}, #{google});
	</insert>

	<!-- 소셜로그인했을때 넣을 user nickname -->
	<insert id="insertUserNickname" parameterType="user">
		INSERT INTO user
		(user_nickname, user_id, user_pwd, user_email, user_phone,
		user_img)
		VALUES (#{userNickName}, NULL, NULL, NULL, NULL, NULL);
	</insert>


	<!-- ID로 닉네임 가져오기 -->
	<select id="IdGetNickName" parameterType="string"
		resultType="string">
		SELECT user_nickname FROM USER WHERE user_id = #{userId}
	</select>

	<!-- social에 넣을 마지막 userNum 추출 -->
	<select id="getLastInsertuserNum" resultType="Integer">
		SELECT user_num
		FROM user
		ORDER BY user_num DESC
		LIMIT 1;
	</select>

	<!-- 이메일로 사용자 조회 -->
	<select id="getSocialByEmail" parameterType="String"
		resultMap="socialResultMap">
		SELECT *
		FROM social
		WHERE kakao = #{email} OR naver =
		#{email} OR google = #{email}
	</select>

	<!-- 이메일로 사용자 조회 -->
	<select id="getUserByEmail" parameterType="String"
		resultType="user">
		SELECT * FROM user WHERE user_email = #{email}
	</select>

	<!-- 소셜 정보 업데이트 -->
	<update id="updateSocialInfo" parameterType="socialDTO">
		UPDATE social
		SET
		kakao = #{kakao}, naver = #{naver}, google = #{google}
		WHERE user_num =
		#{userNum}
	</update>

	<!-- num으로 이름찾기 -->
	<select id="pwGetUserNum" parameterType="String"
		resultType="integer">
		select user_num from user where user_pw=#{pw}
	</select>

	<!-- num으로 유저 삭제하기 -->
	<delete id="delUserbyUserNum" parameterType="integer">
		delete from user where user_num=#{userNum};
	</delete>

	<!-- num으로 유저 삭제하기 -->
	<delete id="delSocialbyUserNum" parameterType="integer">
		delete from social where user_num=#{userNum};
	</delete>

	<!-- 이메일로 유저넘 찾기 -->
	<select id="findUserNumByEmail" parameterType="String"
		resultType="Integer">
		select user_num from user where user_email=#{email}
	</select>

	<!-- 유저PW업데이트 -->
	<update id="updatePwByUserNum" parameterType="Map">
	update user set user_pwd=#{pw} where user_num=#{userNum}
	</update>	
	
		<!-- 유저업데이트 -->
	<update id="updateUserByUserNum" parameterType="Map">
	update user set
	user_id=#{id},
	user_pwd=#{pw},
	user_name=#{name},
	user_nickname=#{nickName},
	user_email=#{email},
	user_phone=#{phone},
	user_img=#{profileImg}
	where
	user_num=#{userNum}
	</update>	
	
	
	

	<update id="updateUser" parameterType="user">
		UPDATE user
		SET
		user_nickname = #{userNickName},
		user_email = #{userEmail}
		WHERE
		user_num = #{userNum}
	</update>

	<select id="getUserById" parameterType="int" resultType="user">
		SELECT *
		FROM user WHERE user_num = #{userNum}
	</select>


	<select id="getUserNumByEmail" parameterType="socialDTO"
		resultType="user">
		SELECT * FROM user WHERE user_email = #{email}
	</select>

	<select id="getUserByNum" parameterType="int"
		resultMap="userResultMap">
		SELECT * FROM user WHERE user_num = #{userNum}
	</select>

	<select id="getAdminList" resultType="Hashmap">
		SELECT * FROM user WHERE
		user_name = '관리자'
	</select>

	<delete id="deleteUser" parameterType="string">
		DELETE FROM user WHERE
		user_id = #{userId}
	</delete>
	<!-- 관리자 화면 페이징, 전체 회원수 -->

	<select id="getUserCount" resultType="int">
		SELECT COUNT(*) FROM user
	</select>

	<select id="getPagedUserList" parameterType="map"
		resultType="Hashmap">
		SELECT * FROM user LIMIT #{offset}, #{pageSize}
	</select>

	<select id="getPagedAdminList" parameterType="map"
		resultType="Hashmap">
		SELECT * FROM user WHERE user_name = '관리자' LIMIT #{offset}, #{pageSize}
	</select>

	<select id="getAdminCount" resultType="int">
		SELECT COUNT(*) FROM user WHERE user_name = '관리자'
	</select>
	<!-- =================== 연동 관련 쿼리 ========================== -->
	<select id="getSocialByUserNum" parameterType="int"
		resultType="socialDTO">
		SELECT * FROM social WHERE user_num = #{userNum}
	</select>

	<!-- 카카오 연동 여부 확인 -->
	<select id="isKakaoLinked" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM
		social
		WHERE user_num = #{userNum} AND kakao IS NOT NULL
	</select>

	<!-- 네이버 연동 여부 확인 -->
	<select id="isNaverLinked" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM
		social
		WHERE user_num = #{userNum} AND naver IS NOT NULL
	</select>

	<!-- 구글 연동 여부 확인 -->
	<select id="isGoogleLinked" resultType="boolean">
		SELECT COUNT(*) > 0
		FROM
		social
		WHERE user_num = #{userNum} AND google IS NOT NULL
	</select>

<select id="checkExistingSocialEmail" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM social 
    WHERE user_num = #{userNum} 
    AND (
        (#{platform} != 'kakao' AND kakao = #{email}) OR
        (#{platform} != 'naver' AND naver = #{email}) OR
        (#{platform} != 'google' AND google = #{email})
    )
</select>

	<select id="checkExistingSocialByUserNum" parameterType="int"
		resultType="int">
		SELECT COUNT(*) FROM social WHERE user_num = #{userNum}
	</select>


	<!-- 기존 유저가 소셜 계정을 추가 연동 -->
	<update id="linkSocialAccount" parameterType="map">
		UPDATE social
		SET
		kakao = CASE WHEN #{platform} = 'kakao' THEN #{email} ELSE kakao END,
		naver = CASE WHEN #{platform} = 'naver' THEN #{email} ELSE naver END,
		google = CASE WHEN #{platform} = 'google' THEN #{email} ELSE google
		END
		WHERE user_num = #{userNum}
	</update>
	
		<insert id="insertSocialLink" parameterType="socialDTO">
		INSERT INTO social
		(user_num, kakao, naver, google)
		VALUES (#{userNum}, #{kakao},
		#{naver}, #{google})
	</insert>
	
	
	<update id="unlinkSocialAccount" parameterType="map">
    UPDATE social
    <set>
        <if test="platform == 'kakao'">kakao = NULL,</if>
        <if test="platform == 'naver'">naver = NULL,</if>
        <if test="platform == 'google'">google = NULL,</if>
    </set>
    WHERE user_num = #{userNum}
</update>

<delete id="deleteSocialAccount" parameterType="int">
    DELETE FROM social WHERE user_num = #{userNum}
</delete>


</mapper>